
<h1 class="display-4 font-weight-bold">Trips</h1>

<table id="triptable" class="table table-hover">
  <tr>
    <th> <a href="#" id="start">Start</a></th>
    <th> <a href="#" id="end">End</a></th>
    <th> <a href="#" id="elo">Elo</a></th>
    <th> <a href="#" id="length">Length</a></th>
  </tr>

</table>
