// Place all the styles related to the Trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.radios{
  border-radius: 1px;
  border-color: white;
  border-style: groove;
}

table {
               border-spacing: 0;
               width: 20%;
               border: 1px solid #ddd;
           }

           th {
               cursor: pointer;
           }

           th, td {
               text-align: left;
               padding: 16px;
           }

           tr:nth-child(even) {
               background-color: #f2f2f2
}
